*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 1000px;
}
.contenr{
    display: flex;
    height: 40px;
    background-color: rgb(81, 81, 194);
    color: white;
    align-items: center;
    cursor: pointer;
}
.contenr .lop{
   width: 50%;
   height: 100%;
   display: flex;
    padding-left: 80px;
   align-items: center;

}
.lopp:hover{
    color: grey;
}
.contenr .icon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 435px;
 }
 .icons:hover{
     color: grey;
 }
.icons{
    margin-right: 20px;
} 
.ok{
    width: 1200px;
    height: 70px;
 
    margin: 0px auto;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.menu{
    display: flex;
    
}
.menu-item{
    margin-right: 15px;
    position: relative;
    width: 40px;
}
.menu-item:hover{
    color: blue;
}
.menu-item1:hover{
    color: blue;
}
.menu-item2:hover{
    color: blue;
}
.menu-item3:hover{
    color: blue;
}
.menu-item4:hover{
    color: blue;
}
.menu-item5:hover{
    color: blue;
}
.menu-item6:hover{
    color: blue;
}
.underline{
    position: absolute;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: all 0.3s;
}
.menu-item:hover .underline{
    width: 100%;
    
}
.menu-item1{
    margin-right: 15px;
    position: relative;
    width: 40px;
}
.underline1{
    position: absolute;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: all 0.3s;
}
.menu-item1:hover .underline1{
    width: 100%;
}
.menu-item2{
    margin-right: 15px;
    position: relative;
    width: 55px;
}
.underline2{
    position: absolute;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: all 0.3s;
}
.menu-item2:hover .underline2{
    width: 100%;
}
.menu-item3{
    margin-right: 15px;
    position: relative;
    width: 55px;
}
.underline3{
    position: absolute;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: all 0.3s;
}
.menu-item3:hover .underline3{
    width: 100%;
}
.menu-item4{
    margin-right: 15px;
    position: relative;
    width: 35px;
}
.underline4{
    position: absolute;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: all 0.3s;
}
.menu-item4:hover .underline4{
    width: 100%;
}
.menu-item5{
    margin-right: 15px;
    position: relative;
    width: 72px;
}
.underline5{
    position: absolute;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: all 0.3s;
}
.menu-item5:hover .underline5{
    width: 100%;
}
.menu-item6{
    margin-right: 15px;
    position: relative;
    width: 50px;
}
.underline6{
    position: absolute;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: all 0.3s;
}
.menu-item6:hover .underline6{
    width: 100%;
}

.img{
    position: relative;
}

.img img{
    width: 100%;
    height: 500px;
}
.img h1{
    position: absolute;
    font-size: 30px;
    top: -0px;
    left: 155px;
}
.text-item{
    cursor: pointer;
}

.text-item span{
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    top: 150px;
    left: 75px;
}

.text-item p{
    position: absolute;
    font-size: 15px;
    font-weight: bolder;
    top: 180px;
    left: 75px;
    color: rgb(95, 93, 93);
}
.rot{
    position: absolute;
    top: 210px;
    left: 75px;
    width: 120px;
    border-radius: 10px;
    height: 25px;
    font-size: 10px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue; 
    cursor: pointer;
}
.rot:hover{
    background-color: brown; 

}
.rot1{
    position: absolute;
    top: 210px;
    left: 200px;
    font-size: 20px;
}
.rot1 span{
    font-size: 14px;
    padding-left: 6px;
    font-weight: 300;
}
.rot1:hover span{
    color:red;
}
.rot1 i{
    color: blue;
} 
.rot1:hover i{
    color: brown;
}
.left{
    display: flex;
    justify-content:space-around ;
    margin-top: 40px;
}
.left1{
    position: relative;
    width: 220px;
    height: 250px;
    box-shadow: 10px 10px 10px grey;
    display:inline-block ;
    cursor: pointer;
} 
.drop{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: blue;
    bottom: 0;
    transition: 1s;
    z-index: -1;
}  
.left1:hover .drop{
    height: 100%;
}


.left2{
    position: relative;
    width: 220px;
    height: 250px;
    box-shadow: 10px 10px 10px grey;
    display: inline-block;
    cursor: pointer;
    
}  
.drop2{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: blue;
    bottom: 0;
    transition: 1s;
    z-index: -1;
}  
.left2:hover .drop2{
    height: 100%;
}
.left3{
    position: relative;
    width: 220px;
    height: 250px;
    box-shadow: 10px 10px 10px grey;
    display: inline-block;
    cursor: pointer;
}  
.drop3{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: blue;
    bottom: 0;
    transition: 1s;
    z-index: -1;
}  
.left3:hover .drop3{
    height: 100%;
}
.left4{
    position: relative;
    width: 220px;
    height: 250px;
    box-shadow: 10px 10px 10px grey;
    display: inline-block;
    cursor: pointer;
    
}
.drop4{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: blue;
    bottom: 0;
    transition: 1s;
    z-index: -1;
}  
.left4:hover .drop4{
    height: 100%;
}
.left1 i{
    position: absolute;
    top: 20px;
    left: 20px;
    color: blue;
}
.left1:hover i{
    color: white;
}
.left1 h1{
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 25px;
}
.left1:hover h1{
    color: white;
}
.left1 span{
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 15px;
    color: gray;
}
.left1:hover span{
    color: white;
}

.left2 i{
    position: absolute;
    top: 20px;
    left: 20px;
    color: blue;
}
.left2:hover i{
    color: white;
}
.left2 h1{
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 25px;
}
.left2:hover h1{
    color: white;
}
.left2 span{
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 15px;
    color: gray;
}
.left2:hover span{
    color: white;
}
.left3 i{
    position: absolute;
    top: 20px;
    left: 20px;
    color: blue;
}
.left3:hover i{
    color: white;
}
.left3 h1{
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 25px;
}
.left3:hover h1{
    color: white;
}
.left3 span{
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 15px;
    color: grey;
}
.left3:hover span{
    color: white;
}
.left4 i{
    position: absolute;
    top: 20px;
    left: 20px;
    color: blue;
}
.left4:hover i{
    color:white ;
}
.left4 h1{
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 25px;
}
.left4:hover h1{
    color:white ;
}
.left4 span{
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 15px;
    color: grey;
}
.left4:hover span{
    color:white ;
}